# server
PORT=8080
HOST=127.0.0.1

# storage
STORAGE_PATH="../storage/"
DEFAULT_STORAGE_QUOTA=100 # in GBs

# DB
DB_HOST=localhost
DB_PORT=5433
DB_NAME=file_vault
DB_USER=postgres
DB_PASSWORD=up32dp0799
DB_SSL_MODE=disable

# jwt
JWT_SECRET=4c70776d83bba901ed9ad4dc0b96a548 # 128-bits

# rate-limit params
API_RATE_LIMIT=1000 # global requests
API_BURST_LIMIT=2000
USER_RATE_LIMIT=10 # per-second
USER_BURST_LIMIT=20

USER_BLOCK_LIMIT=100
USER_BLOCK_DURATION=3600

# redis
REDIS_URL=redis://localhost:6379